.cart{
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    border: 2px solid gray;
    background: transparent;
    backdrop-filter: blur(10px);
}

.cart h2
{
    font-weight: 600;
}

.cart h4{
    font-weight: 700;
}

.cart .line-b{
    width: 80%;
    margin: 20px auto;
    height: 1px;
    background-color: gray;
}

.cart .line-b2{
    width: 70%;
    margin: 5px 0px;
    height: 1px;
    background-color: gray;
}

.cart .btn{
    padding: 8px 12px;
    background-color: #2D3436;
    color: #FFCEA6;
    border: none;
    border-radius: 7px;
}